# geodata
/Regionen
/Shapes

# Editor Frontend
/Editor
/dist

# lid content plus assets
/static
/archetypes

# Hugo default output directory
/public
/www

.htaccess
output.html
config.toml
performance-optimization-tweaks.txt

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
hugo.exe
runhugo.bat
