{{ template "_includes/header.html" . }}
{{ if eq .Params.disableClick true }} <body oncontextmenu="return false;"> {{ else }} <body> {{ end }}
	{{ template "_includes/navbar.html" . }}
	<div class="container page-content" itemscope itemtype="http://schema.org/Place">

    	<meta itemprop="url" content="{{ .Permalink }}" />

	    <div class="row">

	        <div class="col-md-10 titelbild bs-callout bs-callout-signalorange shadow">
						{{ if .Params.in_kuerze }}
						<!-- Bald erscheinende Beiträge  -->
						{{ else }}											
							<!-- Statische Karte -->
							{{ template "_includes/map-banner.html" . }}
						{{ end }}

				{{ if isset .Params "centroid" }}
					<div class="hidden" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
						{{ range $idx, $value := .Params.centroid }}
							{{ if eq $idx 0 }}
								<meta itemprop="latitude" content="{{ $value }}" />
							{{ end }}
							{{ if eq $idx 1 }}
								<meta itemprop="longitude" content="{{ $value }}" />
							{{ end }}
						{{ end }}
					</div>
				{{ end }}

				<!-- Tags -->
	            <div class="tags text-muted">
					{{ range .Params.exkursionstypen }}
						<a class="label-default" href="/exkursionstypen/{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</div>

				<div class="titel-back-exkurs">
					<h2 itemprop="name" class ="titel"><strong>{{ .Title }}</strong></h2>
				</div>
				
				{{ if .Params.in_kuerze }}
					<!-- Bald erscheinende Beiträge  -->
				{{ else }}
					<div class="subtitel-back">
						<h3 class ="subtitel"><strong>{{ .Params.subtitle }}</strong></h3>
						<h5 class="text-muted">Von
							{{ .Params.autor }} &ndash; </i>
							{{ .Date.Format "01/2006" }}
						</h5>
					</div>
				{{ end }}
				
				{{ if .Params.in_kuerze }}
				<!-- Bald erscheinende Beiträge  -->
				{{ else }}				
				<!-- Teaser -->
				<div class="beschreibung">
					<p itemprop="description">{{ .Description | markdownify }}</p>
				</div>
				<!-- End Teaser -->
				{{ end }}

	        </div>

	    </div>
	    <!-- End Beitrag Header -->
		
		{{ if .Params.in_kuerze }}
		<!-- Bald erscheinende Beiträge  -->
		{{ else }}				
			<!-- Karte, wenn kein actionbound -->
			{{ if or (eq .Params.actionbound nil) (eq .Params.actionbound false) }}
				<div class="row">
						<div class="col-md-10 bs-callout bs-callout-signalorange shadow karten-callout">
						<div id="kartenansicht" class="anker-versatz"></div>
								<h3 id="kartentitel">Karten&uuml;berblick Exkursion: <strong>{{ .Title }}</strong>&nbsp;<a class="reset">Kartenausschnitt zur&uuml;cksetzen</a></h3>
								<div id="map"></div>
						</div>
				</div>
			<!-- End Karte -->
			{{ end }}
		{{ end }}

	    <!-- Inhalts Ausgabe -->
		<div class="row">
			<div class="linespace"></div>
			<div class="col-md-10 content text-area">
				{{ if .Params.in_kuerze }}
					<!-- Bald erscheinende Beiträge  -->
					<p><i>Dieser Beitrag wird in Kürze freigeschaltet. Wir bitten um noch etwas Geduld.</i></p>
				{{ else }}				
					{{ .Content }}
				{{ end }}
			</div>
		</div>
			
		{{ if .Params.in_kuerze }}
			<!-- Bald erscheinende Beiträge  -->
		{{ else }}
			<!-- End Inhalts Ausgabe -->
	    <div class="row">
			<div class="col-md-10 content white-bg bs-callout bs-callout-signalorange shadow">
				<!-- Zitationshinweis -->
				{{ template "_includes/zitationshinweis.html" . }}
				<!-- Literaturangaben -->
				{{ template "_includes/literaturangaben.html" . }}
				<!-- Bildnachweise -->
				{{ template "_includes/bildnachweise.html" . }}
			</div>
			</div>
		{{ end }}

	<!-- VG-Wort-Zählmarke -->
	{{ template "_includes/vg-wort.html" . }}
	
	</div>

	{{ template "_includes/footer.html" . }}
	
	{{ if or (eq .Params.actionbound nil) (eq .Params.actionbound false) }}
		{{ template "_includes/map-exkursion.html" . }}
	{{ end }}

	<link rel="stylesheet" type="text/css" href="/css/map-exkursion.css">

	<script type="text/javascript">
		// Using the magnific Pop-up script
		// @see principal copy in /themen/single.html
		$(function () {
			$('.content.text-area').magnificPopup({
				delegate: 'img.clickable', // child items selector, by clicking on it popup will open
				type: 'image',
				gallery:{ "enabled" : true }
			})
			$('.content.text-area img.clickable').bind('click', function (e) {
				$(this).magnificPopup('open')
			})
		})
	</script>
