{{ template "_includes/header.html" . }}
<body>
	{{ template "_includes/navbar.html" . }}
	<div class="container page-content">

		<div class="row">
			<div class="col-md-10 white-bg">
				<h1>{{ .Title }} <strong>Rubriken</strong></h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 beschreibung bs-callout bs-callout-simple shadow">
				{{ $data := .Data }}
				{{ range $key,$value := .Data.Terms.ByCount }}
				<h2><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> {{ $value.Count }} </h2>
				{{ end }}
			</div>
		</div>

		{{ template "_includes/debugInfo.html" . }}

	</div>
	{{ template "_includes/footer.html" . }}