<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#656263"
        },
        "button": {
          "background": "#005ea8"
        }
      },
      "theme": "edgeless",
      "content": {
        "message": "Wir setzen Cookies ein, um Ihnen die Bedienung unserer Website zu erleichtern und unser Angebot zu optimieren.",
        "dismiss": "Ok",
        "link": "Mehr erfahren",
        "href": "http://landschaften-in-deutschland.de/meta/datenschutzhinweise"
      }
    })});
</script>