	<!-- css layout assets  -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<link href="/css/print.css" rel="stylesheet" media="print">

	<!-- favicon and touch icons -->
	<link rel="icon" type="image/png" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-precomposed.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png" />

	<!-- assets for mapbox -->
	<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

	<!-- assets for ui -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>

	<!-- ### IF Regionen Map - dann laden --->
	<!-- assets for map-regionen -->
	{{ if .IsNode }}
		{{ if in .Title "Regionen" }} <!-- in .URL did not work, curiously.. -->
		<script type="text/javascript" src="/js/d3.min.js"></script>
		<script type="text/javascript" src="/js/topojson.v1.min.js"></script>
		<link href="/css/map-regionen.css" rel="stylesheet">
		{{ end }}
	{{ end }}

	<!-- ### IF Themen, Exkursions oder Band-Single Layout - dann laden --->
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/js/magnific/magnific-popup.css">
	<!-- Magnific Popup core JS file -->
	<script src="/js/magnific/jquery.magnific-popup.min.js"></script>
	<link href="/css/juxtapose.css" rel="stylesheet">
	{{ template "_includes/cookie-hint.html" . }}
