

<div class="page-header">

		<div class="full-row front-section">

			<div class="section-ideas">
				<a title="Aktueller Band: Leipzig">
					<div class="header first">
						<div class="title"><b>Landschaften in Deutschland</b> <em>online</em></div>
						<img src="/img/LiD-online_logo_wi_transpi.png" alt="" class="lid-icon" title="LiD-Online - Die Website zur Buchreihe"/>Leipzig | <a href="/regionen/73-hochharz/">Hochharz</a>
					</div>
				</a>
				<a>
					<div class="header second"></div>
				</a>
				<!--h2 class="title band">Leipzig</h2-->
				<a href="/themen/" title="Liste aller Themenbeiträge">
					<div class="thema lower-shadow">
						<img src="/img/previews/Augustusplatz10_preview_front_500_signed.jpg" title="Zugang zu Exkurionsrouten in der Region Leipzig" alt="Abbildung: Stadt Leipzig"/>
						<strong class="sans">Themen >></strong>
					</div>
				</a>
				<a href="/exkursionen/" title="Liste aller Routen">
					<div class="exkursion lower-shadow">
						<img src="/img/previews/unterwegs_section_500_signed.jpg" title="Zugang zu Exkurionsrouten in der Region Leipzig" alt="Abbildung: Ausschnitt einer Exkursionsroute auf LiD online"/>
						<strong class="sans">Unterwegs >></strong>
					</div>
				</a>
				<a href="/regionen/" title="Infos über die Buchreihe und Zugang zu älteren Bänden">
					<div class="region lower-shadow">
						<img src="/img/previews/landschaften_section_500_signed.jpg" title="Infos zur LiD Buchreihe und Zugang zu älteren Bänden" alt="Abbildung: Kartenausschnitt der Bundesrepublik zur Darstellung der Abdeckung von LiD-Beiträgen"/>
						<strong class="sans">Landschaften >></strong>
					</div>
				</a>
				<div class="shortcuts">
					<!-- <a class="button white-bg order" href="http://www.boehlau-verlag.com/978-3-412-22299-4.html"><span class="bold">Aktuellen Band bestellen</span><br/>
					Den &ldquo;Leipzig&rdquo; Band k&ouml;nnen Sie auf den Seiten des B&ouml;hlau Verlags f&uuml;r 29.90&euro; bestellen >></a> -->
					<!-- a class="button white-bg greetings" href="#">Gru&szlig;worte zum Start<br/>von <span class="green-text"><b>LiD</b> online</span> >></a-->
					<a class="button white-bg" href="/reihe">Das Projekt<br/><span class="bold">Landschaften in Deutschland >></span></a>
				</div>
			</div>

		</div>

</div>
