{{ $type := .Type }}
{{ $bandnummer := substr .Params.id 0 2 }}

<!-- deactivate static api due to performance reasons -->
{{ if isset .Params "centroid" }}
<!-- <meta itemprop="image" content="http://api.tiles.mapbox.com/v4/ifl.lplp8117/
	{{ range sort .Params.centroid "value" "asc" }}{{ . }},{{ end }}15/1000x300.png?access_token=pk.eyJ1IjoiYWN0YWdlbyIsImEiOiJoVlhuYlB3In0.XrKXsQ7frSP_HBFp3mnldw"/>
<img class="img-responsive" src="http://api.tiles.mapbox.com/v4/ifl.lplp8117/
	{{ range sort .Params.centroid "value" "asc" }}{{ . }},{{ end }}15/1000x300.png?access_token=pk.eyJ1IjoiYWN0YWdlbyIsImEiOiJoVlhuYlB3In0.XrKXsQ7frSP_HBFp3mnldw" /> -->
{{ end  }}

<div class="banner-container">
	<meta itemprop="image" content="/img/{{ $bandnummer }}/{{ $type }}/{{ .Params.id }}/{{ .Params.titelbild }}"/>
  <img class="img-responsive" src="/img/{{ $bandnummer }}/{{ $type }}/{{ .Params.id }}/{{ .Params.titelbild }}" />
	{{ if eq .Params.actionbound nil }}
	<div class="attribution">&copy; Mapbox &copy; OpenStreetMap</div>
	{{ end }}
</div>

