{{ $.Scratch.Add "band-83" 83 }}
{{ $.Scratch.Add "band-81" 81 }}
{{ $.Scratch.Add "band-80" 80 }}
{{ $.Scratch.Add "band-79" 79 }}
{{ $.Scratch.Add "band-78" 78 }}
{{ $.Scratch.Add "band-83-name" "Zwischen Lommatsch und Wilsdruff" }}
{{ $.Scratch.Add "band-81-name" "Fränkische Schweiz" }}
{{ $.Scratch.Add "band-80-name" "Barnim" }}
{{ $.Scratch.Add "band-79-name" "Eichsfeld" }}
{{ $.Scratch.Add "band-78-name" "Leipzig" }}

{{ template "_includes/header.html" . }}
<body>

	{{ template "_includes/navbar.html" . }}

	<script type="text/javascript">

		function clickFilter (target, bandnummer, category) {
      $('.exkurs-border' + '.' + bandnummer).hide()
      $('.exkurs-border' + '.' + bandnummer + '.' + category).show();

      $('.filter-container .blue.btn').removeClass('selected')
      $(target).addClass('selected', true)
      $('.btn.blue.clear' + '.' + bandnummer).show().css('display', 'inline-block')

      // show button Alle Beiträge
      if (category === 'list-all') {
        $('.filter-container .blue.btn').removeClass('selected')
        $('.btn.blue.clear' + '.' + bandnummer).hide()

        $('.exkurs-border' + '.' + bandnummer).hide()
        $('.list-all' + '.' + bandnummer).show()
      }

      // update filter-info/counter
      show_counter(category, bandnummer)


    }

    function show_counter (category, bandnummer) {
      var selector = '.' + category + '.' + bandnummer
      console.log(selector);
      var count = $(selector).length
      var message = count + " Exkursionen"
      if (category === 'list-all') {
        message = "Insgesamt " +  message
      }
      console.log(message)
      $('.filter-info' + '.' + bandnummer).html(message)
    }

	</script>

	<div class="section-content">
    <h1 class="sectionheader text-center">Unterwegs </h1>

<!-- Band 83  ---------------------------------------------------------------- -->

  <!-- Filter Band 83   ------------------------------------------------------ -->
  <h3 class="seperator intern">Unterwegs in der Region {{$.Scratch.Get "band-83-name"}}</h3>
  <div class="row">
    <div class="filter-container">
      <p>
        <br/>
        Erkunden Sie die Region vor Ort. Entdecken Sie bekannte und unbekannte Orte neu. Ob Baudenkmale, Siedlungsentwicklung, Kultur oder Natur &ndash; es ist f&uuml;r jeden etwas dabei. Machen Sie sich auf den Weg.<br/><br/>
        W&auml;hlen Sie eine Exkursion aus der Liste.
        <!-- Sie k&ouml;nnen Ihre Suche auch einschr&auml;nken, je nachdem, ob Sie zu Fu&szlig; oder mit dem Fahrrad unterwegs sein m&ouml;chten -->
      </p>
      <!-- <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-83"}}, "fuss")'>
        Fu&szlig;
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-83"}}, "fahrrad")'>
        Fahrrad
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-83"}}, "auto")'>
        Auto/Bus
      </a>
      <a class='btn blue clear {{$.Scratch.Get "band-83"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-83"}}, "list-all")'>Alle Beiträge</a>
      <span class='filter-info {{$.Scratch.Get "band-83"}}'></span> -->
    </div>
  </div>

<!-- Themen Content   ---------------------------------------------------------------- -->

<!-- list all trips -->
      {{ range .Data.Pages }}
      {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "83") }}
    <div class='col-mre exkurs-border list-all {{$.Scratch.Get "band-83"}} lower-shadow'>
              {{ .Render "li" }}
    </div>
      {{ end}}
      {{ end}}

      <!-- Fuß -->
      {{ $termname := "fuß" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "83")}}
              <div style="display:none;" class="col-mre exkurs-border fuss {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Fahrrad -->
      {{ $fahrrad := "fahrrad" }}
      {{ $taxw := index .Site.Taxonomies.exkursionstypen $fahrrad }}
      {{ range $taxw.Pages.ByWeight.Reverse }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "83")}}
              <div style="display:none;" class="col-mre exkurs-border fahrrad {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Auto/Bus -->
      {{ $termname := "auto" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "83")}}
              <div style="display:none;" class="col-mre exkurs-border auto {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}  


<!-- Band 81  ---------------------------------------------------------------- -->

  <!-- Filter Band 81   ------------------------------------------------------ -->
  <h3 class="seperator intern">Unterwegs in der Region {{$.Scratch.Get "band-81-name"}}</h3>
  <div class="row">
    <div class="filter-container">
      <p>
        <br/>
        Erkunden Sie die Region vor Ort. Entdecken Sie bekannte und unbekannte Orte neu. Ob Baudenkmale, Siedlungsentwicklung, Kultur oder Natur &ndash; es ist f&uuml;r jeden etwas dabei. Machen Sie sich auf den Weg.<br/><br/>
        W&auml;hlen Sie eine Exkursion aus der Liste.
        <!-- Sie k&ouml;nnen Ihre Suche auch einschr&auml;nken, je nachdem, ob Sie zu Fu&szlig; oder mit dem Fahrrad unterwegs sein m&ouml;chten -->
      </p>
      <!-- <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-81"}}, "fuss")'>
        Fu&szlig;
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-81"}}, "fahrrad")'>
        Fahrrad
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-81"}}, "auto")'>
        Auto/Bus
      </a>
      <a class='btn blue clear {{$.Scratch.Get "band-81"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-81"}}, "list-all")'>Alle Beiträge</a>
      <span class='filter-info {{$.Scratch.Get "band-81"}}'></span> -->
    </div>
  </div>

<!-- Themen Content   ---------------------------------------------------------------- -->

<!-- list all trips -->
      {{ range .Data.Pages }}
      {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "81") }}
    <div class='col-mre exkurs-border list-all {{$.Scratch.Get "band-81"}} lower-shadow'>
              {{ .Render "li" }}
    </div>
      {{ end}}
      {{ end}}

      <!-- Fuß -->
      {{ $termname := "fuß" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "81")}}
              <div style="display:none;" class="col-mre exkurs-border fuss {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Fahrrad -->
      {{ $fahrrad := "fahrrad" }}
      {{ $taxw := index .Site.Taxonomies.exkursionstypen $fahrrad }}
      {{ range $taxw.Pages.ByWeight.Reverse }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "81")}}
              <div style="display:none;" class="col-mre exkurs-border fahrrad {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Auto/Bus -->
      {{ $termname := "auto" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "81")}}
              <div style="display:none;" class="col-mre exkurs-border auto {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}  



<!-- Band 80  ---------------------------------------------------------------- -->

  <!-- Filter Band 80   ------------------------------------------------------ -->
  <h3 class="seperator intern">Unterwegs in der Region {{$.Scratch.Get "band-80-name"}}</h3>
  <div class="row">
    <div class="filter-container">
      <p>
        <br/>
        Erkunden Sie die Region vor Ort. Entdecken Sie bekannte und unbekannte Orte neu. Ob Baudenkmale, Siedlungsentwicklung, Kultur oder Natur &ndash; es ist f&uuml;r jeden etwas dabei. Machen Sie sich auf den Weg.<br/><br/>
        W&auml;hlen Sie eine Exkursion aus der Liste.
        <!-- Sie k&ouml;nnen Ihre Suche auch einschr&auml;nken, je nachdem, ob Sie zu Fu&szlig; oder mit dem Fahrrad unterwegs sein m&ouml;chten -->
      </p>
      <!-- <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-80"}}, "fuss")'>
        Fu&szlig;
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-80"}}, "fahrrad")'>
        Fahrrad
      </a>
      <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-80"}}, "auto")'>
        Auto/Bus
      </a>
      <a class='btn blue clear {{$.Scratch.Get "band-80"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-80"}}, "list-all")'>Alle Beiträge</a>
      <span class='filter-info {{$.Scratch.Get "band-80"}}'></span> -->
    </div>
  </div>

<!-- Themen Content   ---------------------------------------------------------------- -->

<!-- list all trips -->
      {{ range .Data.Pages }}
      {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "80") }}
    <div class='col-mre exkurs-border list-all {{$.Scratch.Get "band-80"}} lower-shadow'>
              {{ .Render "li" }}
    </div>
      {{ end}}
      {{ end}}

      <!-- Fuß -->
      {{ $termname := "fuß" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "80")}}
              <div style="display:none;" class="col-mre exkurs-border fuss {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Fahrrad -->
      {{ $fahrrad := "fahrrad" }}
      {{ $taxw := index .Site.Taxonomies.exkursionstypen $fahrrad }}
      {{ range $taxw.Pages.ByWeight.Reverse }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "80")}}
              <div style="display:none;" class="col-mre exkurs-border fahrrad {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}

      <!-- Auto/Bus -->
      {{ $termname := "auto" }}
      {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
      {{ range $taxonomy.Pages.ByWeight }}
      {{ $bandnummer := substr .Params.id 0 2}}
              {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "80")}}
              <div style="display:none;" class="col-mre exkurs-border auto {{$bandnummer}} lower-shadow">
                      {{ .Render "li" }}
              </div>
              {{ end }}
      {{ end }}        



<!-- Band 79  ---------------------------------------------------------------- -->

  <!-- Filter Band 79   ------------------------------------------------------ -->
    <h3 class="seperator intern">Unterwegs in der Region {{$.Scratch.Get "band-79-name"}}</h3>
    <div class="row">
      <div class="filter-container">
        <p>
          <br/>
          Erkunden Sie die Region vor Ort. Entdecken Sie bekannte und unbekannte Orte neu. Ob Baudenkmale, Siedlungsentwicklung, Kultur oder Natur &ndash; es ist f&uuml;r jeden etwas dabei. Machen Sie sich auf den Weg.<br/><br/>
          W&auml;hlen Sie eine Exkursion aus der Liste.
          <!-- Sie k&ouml;nnen Ihre Suche auch einschr&auml;nken, je nachdem, ob Sie zu Fu&szlig; oder mit dem Fahrrad unterwegs sein m&ouml;chten -->
        </p>
        <!-- <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "fuss")'>
          Fu&szlig;
        </a>
        <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "fahrrad")'>
          Fahrrad
        </a>
        <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "auto")'>
          Auto/Bus
        </a>
        <a class='btn blue clear {{$.Scratch.Get "band-79"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "list-all")'>Alle Beiträge</a>
        <span class='filter-info {{$.Scratch.Get "band-79"}}'></span> -->
      </div>
    </div>

<!-- Themen Content   ---------------------------------------------------------------- -->

  <!-- list all trips -->
        {{ range .Data.Pages }}
        {{ $bandnummer := substr .Params.id 0 2}}
        {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "79") }}
      <div class='col-mre exkurs-border list-all {{$.Scratch.Get "band-79"}} lower-shadow'>
                {{ .Render "li" }}
      </div>
        {{ end}}
        {{ end}}

        <!-- Fuß -->
        {{ $termname := "fuß" }}
        {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
        {{ range $taxonomy.Pages.ByWeight }}
        {{ $bandnummer := substr .Params.id 0 2}}
                {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "79")}}
                <div style="display:none;" class="col-mre exkurs-border fuss {{$bandnummer}} lower-shadow">
                        {{ .Render "li" }}
                </div>
                {{ end }}
        {{ end }}

        <!-- Fahrrad -->
        {{ $fahrrad := "fahrrad" }}
        {{ $taxw := index .Site.Taxonomies.exkursionstypen $fahrrad }}
        {{ range $taxw.Pages.ByWeight.Reverse }}
        {{ $bandnummer := substr .Params.id 0 2}}
                {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "79")}}
                <div style="display:none;" class="col-mre exkurs-border fahrrad {{$bandnummer}} lower-shadow">
                        {{ .Render "li" }}
                </div>
                {{ end }}
        {{ end }}

        <!-- Auto/Bus -->
        {{ $termname := "auto" }}
        {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
        {{ range $taxonomy.Pages.ByWeight }}
        {{ $bandnummer := substr .Params.id 0 2}}
                {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "79")}}
                <div style="display:none;" class="col-mre exkurs-border auto {{$bandnummer}} lower-shadow">
                        {{ .Render "li" }}
                </div>
                {{ end }}
        {{ end }}


<!-- Band 78  ---------------------------------------------------------------- -->

  <!-- Filter Band 78   ------------------------------------------------------ -->
    <h3 class="seperator intern">Unterwegs in der Region {{$.Scratch.Get "band-78-name"}}</h3>
    <div class="row">
      <div class="filter-container">
        <p>
          <br/>
          Erkunden Sie die Region vor Ort. Entdecken Sie bekannte und unbekannte Orte neu. Ob Baudenkmale, Siedlungsentwicklung, Kultur oder Natur &ndash; es ist f&uuml;r jeden etwas dabei. Machen Sie sich auf den Weg.<br/><br/>
          W&auml;hlen Sie eine Exkursion aus der Liste. Sie k&ouml;nnen Ihre Suche auch einschr&auml;nken, je nachdem, ob Sie zu Fu&szlig; oder mit dem Fahrrad unterwegs sein m&ouml;chten.
        </p>
        <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "fuss")'>
          Fu&szlig;
        </a>
        <a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "fahrrad")'>
          Fahrrad
        </a>
        <a class='btn blue clear {{$.Scratch.Get "band-78"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "list-all")'>Alle Beiträge</a>
        <span class='filter-info {{$.Scratch.Get "band-78"}}'></span>
      </div>
    </div>

<!-- Themen Content   ---------------------------------------------------------------- -->

		<!-- list all trips -->
        {{ range .Data.Pages }}
        {{ $bandnummer := substr .Params.id 0 2}}
        {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "78") }}
			<div class='col-mre exkurs-border list-all {{$.Scratch.Get "band-78"}} lower-shadow'>
                {{ .Render "li" }}
			</div>
        {{ end}}
        {{ end}}

        <!-- Fuß -->
        {{ $termname := "fuß" }}
        {{ $taxonomy := index .Site.Taxonomies.exkursionstypen $termname }}
        {{ range $taxonomy.Pages.ByWeight }}
        {{ $bandnummer := substr .Params.id 0 2}}
                {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "78")}}
                <div style="display:none;" class="col-mre exkurs-border fuss {{$bandnummer}} lower-shadow">
                        {{ .Render "li" }}
                </div>
                {{ end }}
        {{ end }}

        <!-- Fahrrad -->
        {{ $fahrrad := "fahrrad" }}
        {{ $taxw := index .Site.Taxonomies.exkursionstypen $fahrrad }}
        {{ range $taxw.Pages.ByWeight.Reverse }}
        {{ $bandnummer := substr .Params.id 0 2}}
                {{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion false) (eq $bandnummer "78")}}
                <div style="display:none;" class="col-mre exkurs-border fahrrad {{$bandnummer}} lower-shadow">
                        {{ .Render "li" }}
                </div>
                {{ end }}
        {{ end }}

		<div class="linespace"></div>
		<div class="linespace"></div>
		<div class="linespace"></div>

		<div>
			<h3 class="seperator intern">Unterwegs mit Anderen &ndash; Verweise auf externe Webseiten</h3>
		</div>

		{{ range .Data.Pages }}
			{{ $type := .Type }}
      {{ $bandnummer := substr .Params.id 0 2 }}

   			{{ if and (eq .Type "exkursionen") (eq .Params.fremdexkursion true) }}
			<div class="col-mre simple-border lower-shadow">
			<a href="{{ .Params.exkursions_url }}" target="_blank">
				{{ if isset .Params "vorschaubild" }}
					<div class="preview-container">
						<img class="vorschaubild" src="/img/{{ $bandnummer }}/{{ $type }}/{{ .Params.id }}/{{ .Params.vorschaubild }}" alt="{{ .Params.vorschaubild_titel }}" title="{{ .Params.vorschaubild_titel }}">
						<div class="attribution"> {{ .Params.vorschaubild_titel }} </div>
					</div>
				{{ end }}
				<h4>{{ .Title}}</h4>
			</a>
			<p>
				{{ if isset .Params "exkursionsstationen" }} {{ .Params.exkursionsstationen }} Stationen,{{ end }}
				{{ if isset .Params "exkursionslaenge" }} {{ .Params.exkursionslaenge }} km<br/><br/>{{ end }}
				<strong class="sans-serif grey">Anbieter</strong><br/> {{.Params.exkursions_anbieter }}
			</p>

			</div>
			{{ end }}
		{{ end }}

	</div>

	<script type="text/javascript">
		// initial update filter-info/counter
		show_counter('.list-all')
	</script>

	{{ template "_includes/footer.html" . }}