{{ $.Scratch.Add "band-79" "Eichsfeld" }}
{{ $.Scratch.Add "band-78" "Leipzig" }}

{{ template "_includes/header.html" . }}
<body>

	{{ template "_includes/navbar.html" . }}

	<script type="text/javascript">

		function clickFilter (target, bandnummer, category) {
			$('.themen-border' + '.' + bandnummer).hide()
			$('.themen-border' + '.' + bandnummer + '.' + category).show();

			$('.filter-container .blue.btn').removeClass('selected')
			$(target).addClass('selected', true)
			$('.btn.blue.clear' + '.' + bandnummer).show().css('display', 'inline-block')

			// show button Alle Beiträge
			if (category === 'list-all') {
				$('.filter-container .blue.btn').removeClass('selected')
				$('.btn.blue.clear' + '.' + bandnummer).hide()

				$('.themen-border' + '.' + bandnummer).hide()
				$('.list-all' + '.' + bandnummer).show()
			}

			// update filter-info/counter
			show_counter(category, bandnummer)


		}

		function show_counter (category, bandnummer) {
			var selector = '.' + category + '.' + bandnummer
			console.log(selector);
			var count = $(selector).length
			var message = count + " Themenbeitr&auml;ge"
			if (category === 'list-all') {
				message = "Insgesamt " +  message
			}
			console.log(message)
			$('.filter-info' + '.' + bandnummer).html(message)
		}

	</script>

<!-- Section Header  ---------------------------------------------------------------- -->


	<div class="section-content">
		<h1 class="sectionheader text-center">Regionen thematisch vertieft</strong></h1>



<!-- Band 79  ---------------------------------------------------------------- -->

	<!-- Filter Band 79   ------------------------------------------------------ -->
		<h3 class="seperator intern">Themen für die Region {{$.Scratch.Get "band-79"}}</h3>
 		<div class="row">
    	<div class="filter-container">
				<br>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "sb")'>
					Siedlung &amp; Bevölkerung
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "wv")'>
					Wirtschaft &amp; Verkehr
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "nl")'>
					Natur &amp; Landschaft
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "ve")'>
					Vergangenheit &amp; Erinnerung
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "ks")'>
					Kultur &amp; Soziales
				</a>
				<a class='btn blue clear {{$.Scratch.Get "band-79"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-79"}}, "list-all")'>Alle Beiträge</a>
				<span class='filter-info {{$.Scratch.Get "band-79"}}'></span>
			</div>
    </div>


<!-- Themen Content   ---------------------------------------------------------------- -->


    <!-- list all themen -->
        {{ range .Data.Pages }}
        {{ $bandnummer := substr .Params.id 0 2}}
        {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div class='col-mre themen-border list-all {{$.Scratch.Get "band-79"}} lower-shadow'>
        {{ .Render "li" }}
      </div>
        {{ end}}
        {{ end}}

        <!-- Siedlung + Bevölkerung -->
    {{ $termname := "siedlung--bevölkerung" }}
    {{ $taxonomy := index .Site.Taxonomies.rubriken $termname }}
    {{ range $taxonomy.Pages.ByWeight.Reverse }}
    {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div style="display:none;" class="col-mre themen-border sb {{$bandnummer}} lower-shadow">
        {{ .Render "li" }}
      </div>
      {{ end }}
    {{ end }}

    <!-- Wirtschaft + Verkehr -->
    {{ $termw := "wirtschaft--verkehr" }}
    {{ $taxw := index .Site.Taxonomies.rubriken $termw }}
    {{ range $taxw.Pages.ByWeight.Reverse }}
    {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div style="display:none;" class="col-mre themen-border wv {{$bandnummer}} lower-shadow">
        {{ .Render "li" }}
      </div>
      {{ end }}
    {{ end }}

    {{ $termn := "natur--landschaft" }}
    {{ $taxn := index .Site.Taxonomies.rubriken $termn }}
    {{ range $taxn.Pages.ByWeight.Reverse }}
    {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div style="display:none;" class="col-mre themen-border nl {{$bandnummer}} lower-shadow">
        {{ .Render "li" }}
      </div>
      {{ end }}
    {{ end }}

    {{ $terme := "vergangenheit--erinnerung" }}
    {{ $taxe := index .Site.Taxonomies.rubriken $terme }}
    {{ range $taxe.Pages.ByWeight.Reverse }}
    {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div style="display:none;" class="col-mre themen-border ve {{$bandnummer}} lower-shadow">
        {{ .Render "li" }}
      </div>
      {{ end }}
    {{ end }}

    {{ $terme := "kultur--soziales" }}
    {{ $taxe := index .Site.Taxonomies.rubriken $terme }}
    {{ range $taxe.Pages.ByWeight.Reverse }}
    {{ $bandnummer := substr .Params.id 0 2}}
      {{ if and (eq .Type "themen") (eq $bandnummer "79")}}
      <div style="display:none;" class="col-mre themen-border ks {{$bandnummer}} lower-shadow">
        {{ .Render "li" }}
      </div>
      {{ end }}
    {{ end }}



<!-- Band 78 ------------------------------------------------------------------>

		<!-- Filter Band 78  ------------------------------------------------------ -->
		<h3 class="seperator intern">Themen für die Region {{$.Scratch.Get "band-78"}}</h3>
		<div class="row">
			<div class="filter-container">
				<p>
					<br/>
					Entdecken Sie faszinierende Facetten der Stadt Leipzig. Finden Sie Beitr&auml;ge zu Kultur, Natur, Geschichte, Bev&ouml;lkerung und Wirtschaft. Die Beitr&auml;ge wollen mit ihren interaktiven Elementen einen Eindruck der Vielfalt und der Zusammenh&auml;nge eines Stadtraumes wie Leipzig vermitteln.
					<br/><br/>
					W&auml;hlen Sie einen Beitrag aus der Liste. Sie k&ouml;nnen Ihre Suche auch nach Themenbereichen einschr&auml;nken:
				</p>
				<!-- h3>Wählen Sie ein Thema</h3-->
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "sb")'>
					Siedlung &amp; Bevölkerung
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "wv")'>
					Wirtschaft &amp; Verkehr
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "nl")'>
					Natur &amp; Landschaft
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "ve")'>
					Vergangenheit &amp; Erinnerung
				</a>
				<a class="btn blue" onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "ks")'>
					Kultur &amp; Soziales
				</a>
				<a class='btn blue clear {{$.Scratch.Get "band-78"}}' onclick='javascript:clickFilter(this, {{$.Scratch.Get "band-78"}}, "list-all")'>Alle Beiträge</a>
				<span class='filter-info {{$.Scratch.Get "band-78"}}'></span>
			</div>
		</div>


	<!-- Themen Content   ---------------------------------------------------------------- -->

		<!-- list all themen -->
        {{ range .Data.Pages }}
        {{ $bandnummer := substr .Params.id 0 2}}
        {{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div class='col-mre themen-border list-all {{$.Scratch.Get "band-78"}} lower-shadow'>
				{{ .Render "li" }}
			</div>
        {{ end}}
        {{ end}}


		<!-- Siedlung + Bevölkerung -->
		{{ $termname := "siedlung--bevölkerung" }}
		{{ $taxonomy := index .Site.Taxonomies.rubriken $termname }}
		{{ range $taxonomy.Pages.ByWeight.Reverse }}
		{{ $bandnummer := substr .Params.id 0 2}}
			{{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div style="display:none;" class='col-mre themen-border sb {{$bandnummer}} lower-shadow'>
				{{ .Render "li" }}
			</div>
			{{ end }}
		{{ end }}

		<!-- Wirtschaft + Verkehr -->
		{{ $termw := "wirtschaft--verkehr" }}
		{{ $taxw := index .Site.Taxonomies.rubriken $termw }}
		{{ range $taxw.Pages.ByWeight.Reverse }}
		{{ $bandnummer := substr .Params.id 0 2}}
			{{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div style="display:none;" class='col-mre themen-border wv {{$bandnummer}} lower-shadow'>
				{{ .Render "li" }}
			</div>
			{{ end }}
		{{ end }}

		{{ $termn := "natur--landschaft" }}
		{{ $taxn := index .Site.Taxonomies.rubriken $termn }}
		{{ range $taxn.Pages.ByWeight.Reverse }}
		{{ $bandnummer := substr .Params.id 0 2}}
			{{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div style="display:none;" class='col-mre themen-border nl {{$bandnummer}} lower-shadow'>
				{{ .Render "li" }}
			</div>
			{{ end }}
		{{ end }}

		{{ $terme := "vergangenheit--erinnerung" }}
		{{ $taxe := index .Site.Taxonomies.rubriken $terme }}
		{{ range $taxe.Pages.ByWeight.Reverse }}
		{{ $bandnummer := substr .Params.id 0 2}}
			{{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div style="display:none;" class='col-mre themen-border ve {{$bandnummer}} lower-shadow'>
				{{ .Render "li" }}
			</div>
			{{ end }}
		{{ end }}

		{{ $terme := "kultur--soziales" }}
		{{ $taxe := index .Site.Taxonomies.rubriken $terme }}
		{{ range $taxe.Pages.ByWeight.Reverse }}
		{{ $bandnummer := substr .Params.id 0 2}}
			{{ if and (eq .Type "themen") (eq $bandnummer "78")}}
			<div style="display:none;" class='col-mre themen-border ks {{$bandnummer}} lower-shadow'>
				{{ .Render "li" }}
			</div>
			{{ end }}
		{{ end }}

	</div>

	<script type="text/javascript">
		// initial update filter-info/counter
		show_counter('list-all', '{{$.Scratch.Get "band-79"}}')
		show_counter('list-all', '{{$.Scratch.Get "band-78"}}')
	</script>

	{{ template "_includes/footer.html" . }}
